// Custom styles. 博客样式自定义

// 网站标题栏背景颜色
.site-meta {
  background: url(//www.toptal.com/designers/subtlepatterns/patterns/gplaypattern.png) #f8f8f8 !important; //修改为自己喜欢的颜色
}

// 鼠标样式
// * {
//   cursor: url("http://om8u46rmb.bkt.clouddn.com/sword2.ico"),auto!important
// }
// :active {
//   cursor: url("http://om8u46rmb.bkt.clouddn.com/sword1.ico"),auto!important
// }

// 主页文章添加阴影效果
.post {
  margin-top: 0px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}